.entirety{
    background-color:#eeecec88;
    max-width: 100%;
}

.Prof{
    margin: 50px;
    width: 200px;
    
    background: white;
   
}
.Prof h3{
    color: #3065B5;
    font-weight: 500;
    padding: 20px;
    text-align: left;
   
}
.Prof p{
    font-size: 20px;
    border-bottom: 1px solid rgba(235, 235, 235, 0.719);
    padding: 0px 20px 20px 20px;
    text-align: left;
    color: #787878;
}
.Prof blockquote{
    font-size: 20px;
    border-bottom: 1px solid rgba(235, 235, 235, 0.719);
    text-align: left;
    padding: 20px;
    color: #787878;
}
.mobile, .email{
    font-size: 22px;
    color: #787878;
   border-bottom:  1px solid rgba(235, 235, 235, 0.719) ;
   text-align: left;
   padding-left: 20px;
}
.mobile Link{
    color: #787878;
}

.humanResourceSection {
    background-color: #f4f5f7;
  }
  
  .hrsectionText {
    padding-top: 40px;
  }
  
  .hrsectionText h1 {
    font-size: 48px;
    font-weight: 700;
  }
  
  .hrsectionPText {
    margin-top: 24px;
    max-width: 436px;
  }
  
  .hrsectionText p {
    font-size: 16px;
    color: #5e6c84;
    line-height: 1.5;
  }
  
  .humanResourceCards {
    margin-top: 80px;
  }
  
  .hrCard {
    /* padding: 32px; */
    border-radius: 16px !important;
    margin-right: 20px;
    border: none;
  }
  
  .cardShadow {
    box-shadow: 0px 18px 31px rgba(9, 30, 66, 0.06);
  }
  
  .hrCard:last-child,
  .adminCard:last-child {
    margin-right: 0px;
  }
  
  .hrCard img,
  .adminCard img {
    width: 100%;
    height: 250px;
    margin-bottom: 32px;
  }
  
  .hrBody {
    padding: 0 32px 32px 32px;
  }
  
  .hrBody h5,
  .adminCardBody h5 {
    font-size: 22px;
    font-weight: bold;
    margin: 8px 0;
  }
  
  .hrBody p {
    font-size: 14px;
    color: #5e6c84;
  }

  .card-img-top {

  }
  