.Nav{
    z-index: 999;
    width: 100%;
    position: absolute;
    background: transparent;
    border-radius: 0;
    font-size: 16px;
    color: white;
    border-bottom: 1px solid rgba(105, 105, 105, 0.479);
}

#basic-nav-dropdown{
    color: white !important;
}
.brand{
    display: flex!important;
}
@media screen and(max-width: 480px){
    .Nav{
        display: none;
    }
}
    
